# GNAT
/build
obj/
project_pragmas
*.ads~
*.adb~
*.gpr~
*.gitignore~
*.bin
*.bin~
makefile~
b~*.ad*
*.bexch
*.o
*.ali
b__*.ad*
test_runner

# Vagrant
.vagrant
/downloads

# Custom provisioning script
install-gcc.log
/logs/*.log
